#bgvideo
  video#loopback(autoplay, muted)

#wrapper
  #background
  #container
    #navbar
    #roster
    #placeholder
      {{#user.guest}}
      p To receive a call, send
      a(href="/{{user.uuid}}") this link
      {{/user.guest}}

      {{^user.guest}}
      p
        |  None of your friends are online.
      {{/user.guest}}
  #conversation
